.wavyHand {
  animation-name: wave-animation;
  animation-duration: 2.3s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  transform-origin: 70% 70%;
  display: inline-block;
  margin-left: 10px;
  pointer-events: none;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
